<%- include partials/header %>

    <h1 class="display-4 text-center my-4">Time Settings</h1>

    <div class="card time-card p-3 pt-5 mx-auto text-center">
      <form class="" action="/user/<%= currentUser._id %>/time?_method=PUT" method="post">

        <label for="pomo-min">Pomo Rounds (min)</label>
        <input id="pomo-min" class="form-control form-control-lg mx-auto mb-4" type="number" name="pomoMin" value=<%= currentUser.pomoMin %> min="1" required>

        <label for="break-min">Regular Breaks (min)</label>
        <input id="break-min" class="form-control form-control-lg mx-auto mb-4" type="number" name="breakMin" value=<%= currentUser.breakMin %> min="1" required>

        <label for="long-break-min">Long Breaks (min)</label>
        <input id="long-break-min" class="form-control form-control-lg mx-auto mb-4" type="number" name="longBreakMin" value=<%= currentUser.longBreakMin %> min="1" required>

        <button id="reset-btn" class="btn btn-sm py-0 my-4 btn-outline-dark" type="button" name="button">Restore Defaults</button>

        <div class="text-center">
          <button class="btn btn-primary my-3 btn-lg w-100" type="submit" name="button">Save Settings</button>
        </div>
      </form>
    </div>


<!-- Script for Restore Defaults -->
<script src="/scripts/customTimeBtn.js" charset="utf-8"></script>


<%- include partials/footer %>
