<%- include partials/header %>

<!-- Invisible form, as a way for us to send
user's pomo info to the backend -->
<% if (currentUser) { %>
  <div id="userLoggedIn" class="invisible">
    <form action="/user/<%= currentUser._id %>?_method=PUT" method="post">
      <input id="alarmSoundInput" type="number" name="alarmSoundInput" value="<%= currentUser.alarmSound %>">
      <input id="pomoUpSoundInput" type="number" name="pomoUpSoundInput" value="<%= currentUser.pomoUpSound %>">
      <button id="pomoUpFormSubmit" type="submit"></button>
    </form>
  </div>
<% } %>

<!-- Another invisible form, to show if we should show the break screen-->
<input id="breakSetup" class="invisible" value="<%= breakSetup %>">


<!-- Main Timer Panel -->
<div class="container text-center border rounded py-3 mt-5">
  <!-- Time Display -->
  <h1>
    <span class="min"></span>:
    <span class="sec"></span>
  </h1>

  <!-- Start Pomo button -->
  <button class="start-btn invisible btn btn-primary" type="button" name="button">
    Start Pomo</button>

  <!-- Pause Pomo button -->
  <button class="pause-btn invisible btn btn-secondary" type="button" name="button">
    Pause Pomo</button>

  <!-- 15 min break button -->
  <div class="text-center mb-3">
    <button class="long-break-btn invisible btn btn-success" type="button" name="button">
      <i class="far fa-star fa-lg"></i> Take 15 Min Break </button>
  </div>

  <!-- Take break button -->
  <button class="break-btn invisible btn btn-success" type="button" name="button">
    Take 5 Min Break</button>

  <!-- Skip break button -->
  <div class="my-3">
    <button class="skip-break-btn invisible btn btn-outline-dark btn-sm py-0" type="button" name="button">
      Skip Break</button>
  </div>


  <!-- pomos done display -->
  <h4>Pomos Done:
    <span class="pomos-done">
      <% let today = new Date(); %>
      <% today = today.toDateString(); %>
      <% if (currentUser && currentUser.days[0] && currentUser.days[0].date === today) { %>
          <% if (breakSetup === "ON") { %>
            <%= currentUser.days[0].pomos - 1 %>
          <% } else { %>
            <%= currentUser.days[0].pomos %>
          <% } %>
      <% } else { %>
        0
      <% } %>
    </span>
  </h4>

  <p class="mt-3 front-page-note">Pomos done are only saved if logged in.</p>
</div>

<!-- Sound Displays -->
<div class="text-center mt-4">
  <p>Times Up Sound: <span id="alarmDisplay"></span></p>
  <p>Pomos Done Sound: <span id="pomoUpDisplay"></span></p>
</div>


<!-- Slide Toggle for Sound Options -->
<div class="container text-center">
  <a class="btn btn-outline-secondary btn-sm mt-3"
  data-toggle="collapse"
  href="#collapse"
  aria-expanded="false"
  aria-controls="collapse">
  Sound Options
  </a>
</div>


<!-- Sound Options -->
<div class="collapse" id="collapse">
  <div class="alarmSounds card sound-card my-3 mx-auto">
    <h3 class="card-header text-center">Times Up Sounds</h3>

      <div class="d-flex flex-column mx-auto my-2">

        <label for="">
          <input type="radio" name="alarmSound" value="Default">
           Default
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Drop">
           Drop
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Frog">
           Frog
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Holiday">
           Holiday
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Horse">
           Horse
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Spring">
           Spring
        </label>
      </div>
      <button id="test-alarm-btn" class="btn btn-info" type="button" name="button">Test Selected Sound</button>
  </div>

  <div class="pomoUpSounds card sound-card mx-auto">
    <h3 class="card-header text-center">Pomos Done Sound</h3>
    <div class="d-flex flex-column mx-auto my-2">

      <label for="">
        <input type="radio" name="pomoUpSound" value="Default">
         Default
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="Coin">
         Coin
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="LevelUp">
         LevelUp
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="Shiver">
         Shiver
      </label>
    </div>
    <button id="test-pomoUp-btn" class="btn btn-info" type="button" name="button">Test Selected Sound</button>
  </div>

</div>


<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Local Javascript -->
<script src="/scripts/timer.js" charset="utf-8"></script>
</body>
</html>
