<%- include partials/header %>

<!-- Invisible form, as a way for us to send
user's pomo info to the backend -->
<% if (currentUser) { %>
  <div id="userLoggedIn" class="invisible">
    <form action="/user/<%= currentUser._id %>?_method=PUT" method="post">
      <input id="alarmSoundInput" type="number" name="alarmSoundInput" value="<%= currentUser.alarmSound %>">
      <input id="pomoUpSoundInput" type="number" name="pomoUpSoundInput" value="<%= currentUser.pomoUpSound %>">
      <button id="pomoUpFormSubmit" type="submit"></button>
    </form>
  </div>
<% } %>

<!-- Invisible form to transfer data from the back end-->
<div class="invisible">
  <input id="breakSetup" value="<%= breakSetup %>">
  <!-- check if user logged in -->
  <% if (currentUser) { %>
    <input id="user-pomo-min" value="<%= currentUser.pomoMin %>">
    <input id="user-break-min" value="<%= currentUser.breakMin %>">
    <input id="user-long-break-min" value="<%= currentUser.longBreakMin %>">
  <% } %>
</div>


<!-- END OF INVISIBLE FORMS - PAGE's ACTUAL "Body" BELOW ========= -->

<!-- Main Timer Panel -->
<div class="container text-center border rounded pt-4 pb-2 mt-5 timer-container">

  <!-- Pomos Done Display -->
  <p class="mb-3 pomos-done-text">Pomos Done:
    <span class="pomos-done">
      <% let today = new Date(); %>
      <% today = today.toDateString(); %>
      <% if (currentUser && currentUser.days[0] && currentUser.days[0].date === today) { %>
          <% if (breakSetup === "ON") { %>
            <%= currentUser.days[0].pomos - 1 %>
          <% } else { %>
            <%= currentUser.days[0].pomos %>
          <% } %>
      <% } else { %>
        0
      <% } %>
    </span>
  </p>

  <!-- Time Display -->
  <h1 class="mb-4 display-1">
    <span class="min"></span>:
    <span class="sec"></span>
  </h1>

  <!-- Start Pomo button -->
  <a class="start-btn invisible fa fa-play-circle fa-7x">
    </a>

  <!-- Pause Pomo button -->
  <a class="pause-btn invisible fas fa-pause-circle fa-7x">
    </a>

  <!-- Cancel Pomo button -->
  <div class="mt-3">
    <button class="cancel-btn invisible btn btn-outline-dark btn-sm py-0" type="button" name="button">
      Cancel</button>
  </div>


  <!-- 15 min break button -->
  <div class="text-center mb-3">
    <button class="long-break-btn invisible btn btn-primary btn-lg" type="button" name="button">
      <i class="far fa-star fa-lg mr-1"></i>
      <% if (currentUser) { %>
        Take <%= currentUser.longBreakMin %> Min Break
      <% } else { %>
        Take 15 Min Break
      <% } %>
       </button>
  </div>

  <!-- Take break button -->
  <button class="break-btn invisible btn btn-primary btn-lg" type="button" name="button">
    <% if (currentUser) { %>
      Take <%= currentUser.breakMin %> Min Break
    <% } else { %>
      Take 5 Min Break
    <% } %>
    </button>

  <!-- Skip break button -->
  <div class="my-3">
    <button class="skip-break-btn invisible btn btn-outline-dark btn-sm py-0" type="button" name="button">
      Skip Break</button>
  </div>

  <!-- Note to users -->
  <% if (!currentUser) { %>
    <p class="mt-5 front-page-note">
      Pomos done are only saved if logged in.
    </p>
  <% } %>
</div>


<!-- Slide Toggle for Sound Options -->
<div class="container text-center">
  <a class="btn btn-outline-secondary btn-sm mt-3"
  data-toggle="collapse"
  href="#collapse"
  aria-expanded="false"
  aria-controls="collapse">
  Sound Options
  </a>
</div>

<!-- Sound Displays -->
<div class="text-center mt-4">


</div>

<!-- Sound Options -->
<div class="collapse" id="collapse">
  <div class="d-flex flex-row justify-content-center">

    <!-- Alarm sound card -->
    <div class="alarmSounds card sound-card my-4">
      <h3 class="card-header bg-dark text-light text-center">Times Up</h3>

        <div class="d-flex flex-column mx-auto my-2">

          <label for="">
            <input type="radio" name="alarmSound" value="Default">
             Default
          </label>

          <label for="">
            <input type="radio" name="alarmSound" value="Drop">
             Drop
          </label>

          <label for="">
            <input type="radio" name="alarmSound" value="Frog">
             Frog
          </label>

          <label for="">
            <input type="radio" name="alarmSound" value="Holiday">
             Holiday
          </label>

          <label for="">
            <input type="radio" name="alarmSound" value="Horse">
             Horse
          </label>

          <label for="">
            <input type="radio" name="alarmSound" value="Spring">
             Spring
          </label>

        </div>

        <p class="text-center">Current Sound: <span id="alarmDisplay"></span></p>

        <div class="text-center mb-3">
          <button id="test-alarm-btn" class="btn btn-dark btn-lg" type="button" name="button">
            <i class="fas fa-music mr-1"></i> Test Sound
          </button>
        </div>

    </div>

    <div class="mx-2">
      <!-- a div made for extra margins -->
    </div>

    <!-- Pomo Up Sound Card -->
    <div class="pomoUpSounds card sound-card my-4">
      <h3 class="card-header bg-dark text-light text-center">Pomo Up</h3>
      <div class="d-flex flex-column mx-auto my-2">

        <label for="">
          <input type="radio" name="pomoUpSound" value="Default">
           Default
        </label>

        <label for="">
          <input type="radio" name="pomoUpSound" value="Coin">
           Coin
        </label>

        <label for="">
          <input type="radio" name="pomoUpSound" value="LevelUp">
           LevelUp
        </label>

        <label for="">
          <input type="radio" name="pomoUpSound" value="Shiver">
           Shiver
        </label>
      </div>

      <p class="text-center mt-auto">Current Sound: <span id="pomoUpDisplay"></span></p>

      <div class="text-center mb-3">
        <button id="test-pomoUp-btn" class="btn btn-dark btn-lg" type="button" name="button">
          <i class="fas fa-music mr-1"></i> Test Sound
        </button>
      </div>

    </div>

  </div>
</div>


<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Scripts for header -->
<script src="/scripts/header.js" charset="utf-8"></script>

<!-- Timer Javascript -->
<script src="/scripts/timer.js" charset="utf-8"></script>
</body>
</html>
